{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2>Главная страница</h2>
    <div class="profession-description">
        <p>
            {% for context in context %}
                {{ context.title|safe }}
            {% endfor %}
        </p>
        <div id="description">
            <p>
                Администратор баз данных (Database Administrator, DBA) — это высококвалифицированный специалист,
                ответственный за управление базами данных, их настройку, мониторинг, защиту и оптимизацию. Базы данных
                являются основой для хранения, обработки и анализа информации, поэтому администратор баз данных играет
                ключевую роль в работе IT-инфраструктуры любой организации. <br/>

                Основные обязанности
                1. Проектирование и создание баз данных
                Разработка архитектуры баз данных в зависимости от требований бизнеса.
                Определение структуры хранения данных, создание таблиц, индексов, ключей и других объектов базы данных.
                Поддержка моделей данных и согласование их с командами разработчиков.
                2. Установка и настройка систем управления базами данных (СУБД)
                Установка СУБД, таких как MySQL, PostgreSQL, Oracle, Microsoft SQL Server, MongoDB и др.
                Настройка параметров сервера для обеспечения высокой производительности и надежности.
                Обеспечение совместимости СУБД с другими компонентами программного обеспечения.
                3. Мониторинг и обеспечение работоспособности
                Постоянное наблюдение за состоянием баз данных для предотвращения простоев.
                Выявление и устранение узких мест в производительности.
                Регулярный анализ журнала ошибок и устранение возникающих проблем.
                4. Резервное копирование и восстановление данных
                Настройка систем автоматического резервного копирования.
                Проверка целостности резервных копий и тестирование их восстановления.
                Разработка стратегии восстановления в случае аварийных ситуаций.
                5. Обеспечение безопасности
                Настройка системы прав доступа для пользователей и ролей.
                Шифрование данных и настройка протоколов защиты от несанкционированного доступа.
                Регулярный аудит базы данных для выявления потенциальных уязвимостей.
                6. Оптимизация производительности
                Анализ медленных запросов и настройка индексов.
                Оптимизация структуры базы данных для повышения скорости обработки запросов.
                Управление нагрузкой на сервер, балансировка ресурсов.
                7. Поддержка пользователей и разработчиков
                Консультирование разработчиков по вопросам взаимодействия с базой данных.
                Помощь аналитикам и бизнес-пользователям в написании отчетов и выполнении запросов.
                Обучение сотрудников работе с базой данных.
                8. Обновление и модернизация
                Установка обновлений для СУБД и исправлений безопасности.
                Перенос баз данных на новые версии или серверы.
                Миграция данных между разными системами.

            </p>
        </div>
    </div>
    <div class="image-gallery">
        {% for context in context %}
            <div class="gallery-item">
                <img src="{{ context.image.url }}" alt="">
            </div>
            {% for img in context.additional_images.all %}
                <div class="gallery-item">
                    <img src="{{ img.image.url }}" alt="">
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div id="image-modal" class="modal hidden">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <img id="modal-image" src="" alt="">
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
